.features {
    width: 100%;
    margin-top: 267px;
}

.features__list {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.features__card {
    width: 360px;
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 40px 25px 18px 25px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.features__icons {
    position: absolute;
    margin: 0 auto;
    width: 63px;
    height: 54px;
    margin-bottom: 15px;
    left: 50%;
    top: -25%;
    transform: translate(-50%, 50%);
}

.features__icon {
    margin: 0 auto;
    position: absolute;
    width: 37px;
    height: 37px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -45%);
}

.features__bg {
    margin: 0 auto;
    position: absolute;
    width: 63px;
    height: 54px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.features__title {
    color: rgb(23, 12, 4);
    font-size: 25px;
    font-weight: 400;
    line-height: 38px;
    margin-bottom: 11px;
}

.features__subtitle {
    color: rgb(23, 12, 4, 0.6);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 24px;
}

.features__link {
    color: rgb(226, 123, 58);
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 18px;
}