.footer {
    width: 100%;
    display: flex;
    position: relative;
    flex-direction: column;
    margin-top: 70px;
    padding-bottom: 105px;
    background-color: rgb(20, 10, 3);
}

.footer__triangle {
    // width: 0;
    // height: 0;
    // position: absolute;
    // // background-color: rgb(20, 10, 3);
    // border-left: 400px solid transparent;
    // border-right: 400px solid transparent;
    // border-bottom: 60px solid rgb(20, 10, 3);
    // left: 50%;
    // transform: translate(-50%,-100%);
    display: none;

    @media (min-width: 800px) {
        display: flex;
        width: 0;
        height: 0;
        position: absolute;
        // background-color: rgb(20, 10, 3);
        border-left: 400px solid transparent;
        border-right: 400px solid transparent;
        border-bottom: 60px solid rgb(20, 10, 3);
        left: 50%;
        transform: translate(-50%,-100%);
    }
}

.footer__content {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;

    @media (min-width: 800px) {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }
}

.footer__left {
    display: flex;
    flex-direction: column;
    // align-items: center;
    margin-top: 69px;
    text-align: center;

    @media (min-width: 800px) {
        flex-direction: column;
        text-align: left;
    }
}

.footer__text {
    color: rgb(255, 255, 255, 0.8);
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    margin-bottom: 37px;
}

.footer__link {
    color: rgb(226, 123, 58);
    text-decoration: none;
}

.footer__middle {
    display: flex;
    flex-direction: column;
    max-width: 198px;
    width: 100%;
    margin: 0 auto;
}

.footer__head {
    display: block;
}

.footer__icon {
    display: flex;
    margin: 0 auto;
    width: 48px;
    height: 51px;
}

.footer__name {
    color: rgb(255, 255, 255);
    font-size: 26px;
    font-weight: 500;
    line-height: 30px;
    margin-top: 12px;
}

.footer__socials {
    display: flex;
    justify-content: space-between;
    gap: 25px;
    margin-top: 66px;
}

.footer__social {
    width: 40px;
    height: 40px;
}

.footer__right {
    display: flex;
    flex-direction: column;
    margin-top: 69px;
    text-align: center;

    @media (min-width: 800px) {
        flex-direction: column;
        text-align: right;
    }
}

.footer__desc {
    color: rgb(255, 255, 255, 0.8);
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    margin-bottom: 37px;
}