.header {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding-top: 31px;
    align-items: center;
 }

 .head__logo {
    display: flex;
 }

 .logo__icon {
    width: 36px;
    height: 39px;
    padding-right: 5px;
 }

 .logo__text {
    width: 45px;
    height: 36px;
 }

 .nav {
   display: none;
   justify-content: space-between;
   gap: 55px;
   @media (min-width: 1024px) {
      display: flex;
   }
 }

.nav_text {
    color: rgb(23, 12, 4);
    font-size: 16px;
    font-weight: 400;
}

.head__menu {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.menu__icon {
    width: 18px;
    height: 18px;
}