.mainscreen {
    display: flex;
    margin: 0 auto;
}

.mainscreen__text {
    display: flex;
    position: relative;
    flex-direction: column;
    max-width: 613px;
}

.mainscreen__heading {
    color: rgb(23, 12, 4);
    font-family: Poppins;
    font-size: 100px;
    font-weight: 700;
    line-height: 120px;
    margin-top: 148px;
    margin-bottom: 119px;
}

.mainscreen__btns {
    display: flex;
    gap: 20px;
}

.mainscreen__btn {
    display: flex;
    background-color: rgb(226 123 58);
    width: 123px;
    height: 48px;
    border-radius: 24px;
    border: none;
    color: rgb(255 255 255);
    font-size: 16px;
    font-weight: 400;
    justify-content: center;
    align-items: center;
}

.mainscreen__button {
    display: flex;
    background-color: none;
    width: 123px;
    height: 48px;
    border-radius: 24px;
    border: 1px solid rgb(226, 123, 58, 0.15);
    // opacity: 0.15;
    color: rgb(226, 123, 58);
    font-size: 16px;
    font-weight: 400;
    justify-content: center;
    align-items: center;
}

.mainscreen__img {
    position: absolute;
    display: none;
}

.mainscreen__back {
    position: absolute;
    right: 0;
    top: 0;
}