.more {
    display: flex;
    justify-content: space-between;
    gap: 31px;
    margin-top: 120px;
}

.more__left {
    display: block;
    text-align: center;
    width: 554px;
}

.more__title {
    color: rgb(23, 12, 4);
    font-size: 32.25px;
    font-weight: 500;
    margin-bottom: 12px;
}

.more__subtitle {
    color: rgb(23, 12, 4, 0.6);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 26px;
}

.more__list {
    display: grid;
    grid-template-columns: repeat(2, 262px);
    gap: 30px;
}

.more__pics {
    display: flex;
    width: 262px;
    height: 170px;
    justify-content: center;
    align-items: center;
    background-color: rgb(144, 10, 8, 0.1);
    border-radius: 5px;
}

.more__image {
    object-fit: cover;
    object-position: center;
    margin: 0 auto;
}

.more__right {
    display: flex;
    width: 555px;
    height: 509px;
    justify-content: center;
    align-items: center;
    background-color: rgb(196, 21, 75, 0.1);
    border-radius: 10px;
}

.more__img {
    object-fit: cover;
    object-position: center;
    margin: 0 auto;
}